#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* xoay tròn liên tục */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Index{
  position: fixed;
  left: 70px;
  top: 0px;
  right: 0px;
  z-index: 20;
  width: 100%;
  height: auto;

}

.Sidebav{
  position: fixed;
  left: 0px;
  right: auto;
  top: 0px;
  bottom: 0px;
  z-index: 25;
  width: fit-content;
  height: auto;
}

.settingFont {
  position: fixed;
  top: 0px;
  left: 60px;
  right: 0px;
  bottom: 0px;
  z-index: 30;
}

.show{
  position: fixed;
  width: 85%;
  height: 80%;
  left: 100px;
  top: 10%;
  z-index: 31;
  background-color: #888;
}

.hide{
  display: none;
}

/* ==================================================================
                          Sidebav
================================================================== */

#sidebav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding-right: 10px;
}

#sidebav button {
  background-color:antiquewhite;
  color: black;
  width: 50px;
  height: 50px;
  border: none;
}

#sidebav button:focus{
  outline: none;
}

.openBtn{
  display: flex;
  position: fixed;
  bottom: 0px;
  
}

#Tabbav {
  position: fixed;
  top: 0px;
  left: 60px;
  bottom: 0px;
  border-left:2px solid #000000;
}

.container {
  display: inline-block;
  cursor: pointer;
  border: none;
}

.container button{
  border: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

/* ==================================================================
                          Index
================================================================== */

#Header{
  position: fixed;
  top: 5px;
  left: 60px;
  width: 93%;
  margin-right: 5px;
}

#Main{
  margin-top: 50px;
  width: 80%;
  margin-right: 0px;
}

/* ==================================================================
==                  Header
================================================================= */

#header {
  display: flex;
  justify-content: space-between;
}

#header button {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 30px;
}

#header a {
  color: #000000;
}

#header button:hover {
  background-color: rgb(217, 217, 217);
  border: 1px solid #000000;
}

/* ======================================
        element styles
 =======================================*/

.genre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.genre button {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 30px;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 5px;
}

.genre a {
  font-size: small;
}

.profile {
  text-align: right;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profile button {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 30px;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 5px;
}

.search {
  display: flex;
}

.searchText {
  border-radius: 25px;
  background-color: #feffdc;
  color: #000000;
  border: 1px solid #000000;
  margin-right: 10px;
}

/*================================================================ 
                      Main
=================================================================*/

.nameAuthor{
  color: black;
}

.listAuthor {
  display: grid;
  grid-template-columns: 26% 26%  26% 26%;
  gap: 20px;
}

.PopularBook{
  color: black;
  display: grid;
  grid-template-columns: 26% 26% 26% 26%;
  gap: 20px;
}

.imgBook{
  width: 80px;
  height: 120px;
}

.book{
  background-color: gray ;
}
